.topNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
    background-color: #ffffff; /* Same as the current background */
    padding: 10px;
   
}

.displayButton {
  background-color: #ffffff;
  color: black;
  border: 1px solid #dcdcdc;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex; /* Align content horizontally */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between text and icons */
}

.icon-left {
  margin-right: 10px; /* Space between icon and text */
  width: 16px; /* Set icon size */
  height: 16px;
}

.icon-right {
  margin-left: 10px; /* Space between text and dropdown icon */
  width: 16px;
  height: 16px;
}

.displayButton:hover {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  .dropdownContent {
    position: absolute; /* Absolute positioning to place under the button */
    top: 100%; /* Position below the button */
    left: 0; /* Align to the left of the button */
    background-color: white; /* Dropdown background color */
    border: 1px solid #e0e0e0; /* Dropdown border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* More padding inside dropdown */
    margin-top: 5px; /* Small space between button and dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dropdown shadow */
    z-index: 1; /* Ensure it appears above other content */
    width: 250px; /* Width remains the same */
  }
  
  .dropdownItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; /* Space between dropdown items */
  }
  
  .dropdownItem label {
    font-size: 12px;
    margin-right: 90px; /* Increase space between label and select */
    color: grey;
  }
  
  .dropdownContent select {
    flex-grow: 1; /* Take up remaining space in the flex container */
    padding: 5px; /* Padding for selects */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px;
    font-weight: 500;
  }
  